@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.content-box {
  z-index: 999;
  background: rgba(231, 216, 216, 0.8);
  width: 40%;
  height: 60vh;
  padding: 20px;
  border: 1px solid rgba(231, 216, 216, 0.6);
  border-radius: 10px;
}

h1 {
  margin: 10px 0px;
}

h2 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 20px;
}
p {
  color: yellow;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 20px;
}

.buttons {
  padding: 20px 0;
}

button {
  border: none;
  padding: 10px 0;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: Pointer;
}

#increment-btn {
  background: darkmagenta;
}

#save-btn {
  background: darkgreen;
}

#reset-btn {
  background: red;
}
